.about{
    color: blueviolet;
    background-color: aqua;
    height: 250px;
    margin: 15px 0px;
}
.service{
    color: brown;
    background-color: cadetblue;
    margin: 15px 0px;
    height: 250px;
}
